<section class="main__container--limited-width">
  {{#if name}}
                <button id="logoutButton" class="logoutButton">log Out</button>
  {{else}}
                <a href="/login"><button id="logoutButton" class="logoutButton">log in</button></a>
{{/if}}

  <div class="header">
    <h1>FACG5 Students</h1>
    <p> cohort 5 portfolios app</p> `
        <p>Welcome {{name}}</p> `


  </div>

  <div class="container">

    {{#each res}}
    <div class="stdiv">
      <div class="stdpic">
        <img src='{{this.img}}'>
      </div>
      <h4 class="stdname">{{this.name}}</h4>

      <a href="/portfolio/{{this.id}}">
        <button class="stdbtn"> Show Pojects </button>
      </a>
    </div>

    {{/each}}
  </div>



</section>